<!DOCTYPE html>
{% load static %}
<div class="slider fullscreen">
    <ul class="slides">
        <li>
            <img src="{% static 'img/slide4.jpg' %}">
        </li>
        <li>
            <img src="{% static 'img/slide2.jpg' %}">
        </li>
        <li>
            <img src="{% static 'img/slide3.jpg' %}">
        </li>
        <li>
            <img src="{% static 'img/slide1.jpg' %}">
        </li>
        <li>
            <img src="{% static 'img/slide5.jpg' %}">
        </li>
    </ul>
</div>
<div class="card overlay center transparent white-text text-darken-4 z-depth-0">
    <h3 class="shadow-1 white-text">Welcome to HuaTrack.com</h3>
    <h5 class="shadow-2 white-text">A Blockchain based tracking system for Artwork</h5><br>
    <a class="btn btn-large">Register Your Artwork</a>
</div>